{% load static %}
<!doctype html>
<html  lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ setting.title }}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.logo.url}}">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/sal.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">

</head>
    <body class="sticky-header newsletter-popup-modal">
     {% block content %}
     
     {% endblock %}
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
    <!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="{% static 'assets/js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/sal.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/counterup.js' %}"></script>
    <script src="{% static 'assets/js/vendor/waypoints.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>