{%extends 'homepage.html'%}
{% load static %}
{% block content %}
    <div class="axil-signin-area">

        <!-- Start Header -->
        <div class="signin-header">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <a href="{% url 'index' %}l" class="site-logo"><img src="{{ setting.logo.url}}"width="20%"alt="logo"></a>
                </div>
                <div class="col-sm-8">
                    <div class="singin-header-btn">
                        <p>Нет аккаунта?</p>
                        <a href="sign-up.html" class="axil-btn btn-bg-secondary sign-up-btn">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--9">
                    <h3 class="title">{{setting.description}}</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Войти</h3>
                        <p class="b2 mb--55">Введите свои данные</p>
                        <form class="singin-form" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                <label>Имя пользователя</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label>пароль</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Войти</button>
                                <a href="forgot-password.html" class="forgot-btn">Забыли пароль</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS
============================================ -->
{%endblock%}